/* 
    Created on : 28-apr-2019, 20.02.14
    Author     : pietr
*/

.osy-calendar-day, 
.osy-calendar-day-dummy, 
.osy-calendar-mounthly-head-column {
    width: 14.28%; 
    float: left;
    margin: 0px;
    position: relative;
}

.osy-calendar-day{
    border: 1px solid gray;
    padding: 3px;
}
.osy-calendar-mounthly-head-column {
    padding: 10px;
    border: 1px solid gray;
}
.osy-calendar-toolbar {
    padding: 10px 5px;
}
.osy-calendar-toolbar-navigation {
    float: left;
}
.osy-calendar-toolbar-type{
    float: right;
}
.osy-clear{
    clear: both;
}
.osy-calendar-day .day-num{
    position: absolute;
    top: 2px;
    right: 5px;
    font-weight: bold !important;
}
